.about
  margin: 77px 0 0
  padding-bottom: 51px
  &__h2
    text-transform: uppercase
    text-align: center
    margin: 0
  &-list
    box: wrap
    margin: 42px 0 0
    padding: 0 56px
    justify-content: space-between
    &__item
      text-align: center
      margin-bottom: 30px
    &__num
      text: $colorBlue 100px 1 900
      font-family: $fontAkrobat
      display: inline-block
      vertical-align: top
    &__icon
      display: inline-block
      vertical-align: top
      .icon
        fill: $colorBlue
        margin: 20px 5px 0 0
    &__name
      text: $colorDark 20px 1.25 700
      margin: 11px 0 0
      span
        display: block
