#header 
  position: absolute
  top: 0
  left: 0
  width: 100%

.header 
  &__logo 
    size: 213px 60px
    display: inline-block
    vertical-align: top
    background: url("$rootUrl/logo.png") no-repeat center 
    background-size: cover
    margin-top: 20px
  &__nav
    display: inline-flex
    padding: 0
    margin: 37px 0 0 42px
    list-style: none
    &-item 
      margin-left: 41px
      &:first-child 
        margin-left: 0
    &-link 
      text: $colorWhite 16px 1.25
      text-decoration: none
      &:hover 
        text-decoration: underline
  &__phone
    display: inline-block
    vertical-align: top
    font-family: $fontAkrobat
    text: $colorYellow 24px 1 
    text-decoration: none
    margin: 19px 0 0
    &-cont
      text-align: center
      .btn 
        display: block
        width: 150px
        margin: 12px 0 0 3px
        line-height: 36px