.portfolio
  padding: 51px 0 0
  &__slider
    margin: 13px 0 0
    &-img
      size: 892px 495px
      background: url("$rootUrl/portfolio-pc.png") no-repeat center
      background-size: cover
      margin: 0 0 0 -79px
      overflow: hidden
      &--inner
        size: 619px 386px
        margin: 34px 0 0 161px
        background-position: center
        background-repeat: no-repeat
        background-size: cover
    &-item
      position: relative
      overflow: hidden
      outline: 0!important
    &-arrows
      .main-container
        position: relative
        z-index: 100
    &-arrow
      position: absolute
      top: 193px
      cursor: pointer
      .icon
        fill: #202631
        transition: 0.3s all ease
      &:hover
        .icon
          fill: #126ECB
      &--prev
        left: -66px
      &--next
        right: -66px
  &__h3
    text: $colorDark 36px 1.25 800
    font-family: $fontAkrobat
    margin: 15px 0 0
  &__info
    box: wrap
    margin: 16px 0 0
    text: $colorDark
    &-aside
      width: 200px
      padding-right: 15px
    &-cont
      flex-basis: 0
      flex-grow: 1
      max-width: 100%
    h3
      text: 20px 1.25 700
      margin: 0 0 14px
    h4
      text: 16px 1.5 700
      margin: 0 0 10px
    p
      text: 16px 1.5 300
      margin: 0 0 10px
  &__img-p
    margin: 5px 0 0
    padding-left: 6px
    img
      display: block
      max-width: 100%
  &__status
    box: wrap
    align-items: center
    margin: 22px 0 0
    &-icon
      min-width: 60px
      .icon
        fill: $colorDark
        &--bag
          margin-left: 4px
    &-text
      text: $colorDark 20px 1.25  700
  &__benefits
    margin: 21px 0 0
    &-item
      position: relative
      padding-left: 21px
      text: $colorDark 16px 1.5 700
      margin-bottom: 10px
      .icon
        fill: #126ECB
        position: absolute
        top: 4px
        left: 0
  &__total
    margin: 2px 0 0
    h3
      margin: 0
      text: $colorDark 24px 1.25 700
    &-list
      box: wrap
      margin: 24px 0 0
    &-item
      width: 33.3%
      text-align: center
      padding: 0 15px
    &-title
      text: $colorDark 20px 1.25 500
      margin: 0 0 5px
    &-text
      text: $colorBlue 24px 1.25 700
  &__cont
    position: relative
    &:before
      content: ''
      display: block
      position: absolute
      right: 50%
      bottom: 13px
      size: 100% 2px
      background: $colorDark
