.rate
  margin: 85px 0 0
  .category-title
    text-transform: none
    span
      text-transform: uppercase
      top: -27px
  &__info-text
    text-align: center
    margin: 32px 0 0
    padding: 0px 105px
  &-list
    margin: 0 -14px
    &__item
      outline: 0
      padding: 50px 14px 38px
      &--active
        background: $colorOrange
        border-radius: 4px
        .rate-list__inner
          border-color: $colorWhite
        .rate-list__title
          text: $colorWhite
          background: $colorOrange
          padding: 0 20px
        .rate-list__time
          text: $colorWhite 600
          margin: 4px 0 0
          .icon
            fill: $colorWhite
        .rate-list__cont
          margin-top: 30px
        .rate-list__benefits
          &-item
            text: $colorWhite
            .icon
              fill: $colorWhite
    &__inner
      border: 2px solid $colorDark-2
      position: relative
      min-height: 100px
      padding-bottom: 26px
    &__title
      text: $colorDark-2 48px 1 800
      font-family: $fontAkrobat
      position: absolute
      left: 50%
      top: -29px
      transform: translate(-50%,0)
      padding: 0 11px
      background: $colorWhite
      text-transform: uppercase
    &__percent
      position: absolute
      top: -44px
      right: -10px
      text: $colorDark-2 72px 1 900
      font-family: $fontAkrobat
      z-index: 50
      &:before ,
      &:after
        content: ''
        display: block
        position: absolute
        z-index: -1
        background: $colorWhite
      &:before
        size: 4px 26px
        top: 42px
        right: 7px
      &:after
        size: 20px 4px
        top: 42px
        right: 10px
    &__price
      background: $colorOrange
      text-align: center
      font-family: $fontAkrobat
      height: 70px
      margin: 34px 0 0
      &-item
        display: inline-block
        vertical-align: top
        text: $colorDark-2 48px 70px 800
        margin: 0 13px
        span
          font-family: Arial
          text: 36px * 400
        &--old
          text: $colorWhite 36px
          position: relative
          span
            text: 30px
          &:before
            content: ''
            display: block
            position: absolute
            top: 27px
            left: 50%
            margin-left: -62px
            background: url("$rootUrl/price-old.svg") no-repeat center
            background-size: cover
            size: 124px 19px
        &--vip
          text: $colorWhite 55px
        &--large
          text: 60px
    &__time
      text: $colorDark-2 30px 40px 800 center
      font-family: $fontAkrobat
      margin: 13px 0 0
      .icon
        display: inline-block
        vertical-align: top
        fill: #df8607
        margin: 0 8px 0 0
    &__cont
      width: 280px
      margin: 20px auto 0
    &__btn
      width: 100%
      text: 24px * 700 uppercase
      font-family: $fontAkrobat
      .icon
        fill: $colorWhite
        margin-right: 15px
    &__benefits
      margin: 33px 0 0
      &-item
        position: relative
        padding-left: 28px
        text: $colorDark-2 18px 1.25
        margin-bottom: 14px
        .icon
          position: absolute
          top: -1px
          left: 0
          fill: $colorOrange
  &-links
    position: relative
    top: -71px
    &__item
      margin-bottom: 13px
    &__link
      position: relative
      text-decoration: none
      padding-left: 49px
      text: $colorDark-2 16px 1.25
      transition: 0.3s all ease
      &:hover
        text: $colorBlue
      .icon
        fill: $colorBlue
        position: absolute
        top: 0
        left: 0
      span
        text-decoration: underline
        display: inline-block
        vertical-align: top
        padding-top: 8px
  &-feedback
    text: center
    margin: -45px 0 0
    &__title
      text: $colorDark-2 30px 1.25 700
      display: inline-block
      vertical-align: top
      position: relative
    .btn
      font-family: $fontAkrobat
      text: 24px * 700
      width: 280px
      position: absolute
      left: 100%
      top: -8px
      margin-left: 26px

.tabs
  margin: 43px 0 0
  &__list
    border-bottom: 1px solid #dbe0e9
    box: wrap
    justify-content: center
    &-item
      flex: 0 0 auto
      width: auto
      max-width: 100%
      margin: 0 22px
    &-link
      padding: 0 4px
      height: 64px
      text: $colorDark 30px 64px 700 center
      transition: 0.3s all ease
      font-family: $fontAkrobat
      text-decoration: none
      display: block
      white-space: nowrap
      position: relative
      cursor: pointer
      &:before
        position: absolute
        left: 50%
        top: 100%
        size: 0 1px
        background: $colorOrange
        transition: 0.3s all ease
        display: block
        content: ''
      &--active
        text: $colorOrange 36px 60px 800
        cursor: default
        &:before
          height: 2px
          width: 100%
          left: 0
          margin-top: -1px
      &:hover
        text: $colorOrange
        &:before
          width: 100%
          left: 0
.tab
  padding: 39px 0
  display: none
  &--active
    display: block
