.welcome
  height: 1000px
  background: url("$rootUrl/welcome.jpg") no-repeat center
  background-size: cover
  &__title-cont
    margin: auto
    width: 970px
    padding: 157px $indentDefault 0
  &__title-w
    text: $colorWhite 70px 1 1px 800
    text-transform: uppercase
    font-family: $fontAkrobat
    margin-left: 58px
  &__title
    margin: 3px 0 0 52px
    text: $colorYellow-2 110px 1 800
    font-family: $fontAkrobat
    text-transform: uppercase
    position: relative
    &:before
      position: absolute
      size: 944px 150px
      display: block
      content: ""
      background: url("$rootUrl/welcome-title-line.svg") no-repeat center
      background-size: cover
      top: 61px
      left: -54px
  &__text
    text: $colorWhite 48px 50px center
    font-family: $fontAkrobat
    margin: 11px 0 0 46px
    span
      text: #1e242f
      display: inline-block
      vertical-align: top
      position: relative
      z-index: 2
      &:before
        position: absolute
        background: $colorWhite
        display: block
        content: ''
        top: 4px
        left: -4px
        right: -5px
        size: auto 50px
        z-index: -1
  &__h3
    text: $colorWhite 36px 1.25 0.5px 400 center
    margin: 0
  &__benefits
    margin: 75px auto 0
    width: 1030px
    padding: * 15px
    .flex-wrap
      margin-top: 27px
      justify-content: space-between
    &-item
      text-align: center
    &-icon
      height: 75px
      display: flex
      flex-wrap: wrap
      align-items: center
      justify-content: center
      .icon
        fill: $colorWhite
    &-name
      text: $colorWhite 20px 1.2
      margin: 10px 0 0
      span
        display: block
  &__send
    margin: 75px 0 0
    .btn
      width: 350px
      display: block
      margin: 29px auto 0
