.work-road
  height: 850px
  background: url("$rootUrl/work-road.jpg") no-repeat center
  background-size: cover
  padding: 85px 0 0
  &__h3
    text: $colorDark 45px 1.25 700 center
    font-family: $fontAkrobat
    margin: 0
  &__info-text
    text: center
    margin: 32px 0 0
    span
      display: block
  &__list
    box: wrap
    margin: 65px 0px 0px
    position: relative
    &:before
      position: absolute
      left: -2px
      top: 70px
      display: block
      content: ''
      size: 1200px 336px
      background: url("$rootUrl/work-road.png") no-repeat center
      background-size: cover
  &__item
    width: 25%
    position: relative
    z-index: 10
    margin-bottom: 8px
  &__icon
    height: 70px
    padding-bottom: 9px
    box: wrap
    align-items: flex-end
    justify-content: center
    .icon
      position: relative
      &--tk-development
        bottom: 4px
      &--design-layouts
        bottom: 2px
      &--testing
        bottom: 2px
        left: 12px
      &--use-php
        bottom: 9px
        left: 6px
      &--a-b
        bottom: 1px
        left: -2px
  &__title
    text: $colorDark 20px 1.25 700 center
    margin: 22px 0 0
    span
      display: block
  &__rub
    position: absolute
    bottom: -35px
    right: 9px
    .icon
      fill: #df8607
