.btn
  height: 35px
  text: 12px 35px
  text-align: center
  border-radius: 4px
  border: 0
  transition: 0.3s all ease
  outline: 0
  text-decoration: none
  display: inline-block
  vertical-align: top
  padding: 0 15px
  cursor: pointer
  .icon
    fill: $colorDark
  &__large
    height: 60px
    line-height: 60px
    font-size: 22px
    .icon
      margin: 15px 8px 0 0
  &__yellow
    text: $colorDark
    background: $colorYellow
    &:hover
      background: $colorYellow-2
  &__yellow-2
    background: $colorYellow-2
    text: $colorDark
    &:hover
      background: $colorYellow
  &__dark
    background: $colorDark-2
    text: $colorWhite
    &:hover
      background: $colorBlue
  &__blue
    background: $colorBlue
    text: $colorWhite
    .icon
      fill: $colorWhite
    &:hover
      background: $colorOrange
