.icon
  display: inline-block
  vertical-align: top
  fill: $colorBlack
  &--key
    size: 67px 60px
  &--legal-guarantee
    size: 60px 60px
  &--gift
    size: 66px 60px
  &--deal
    size: 76px 60px
  &--send
    size: 35px
  &--man
    size: 61px 70px
  &--calendar
    size: 73px 70px
  &--settings
    size: 70px
  &--people
    size: 96px 70px
  &--goal
    size: 60px
  &--marketing-research
    size: 69px 60px
  &--tk-development
    size: 60px 65px
  &--design-layouts
    size: 61px 55px
  &--testing
    size: 103px 55px
  &--filling-content
    size: 106px 60px
  &--use-php
    size: 60px 70px
  &--html-css
    size: 110px 59px
  &--job-training
    size: 62px 60px
  &--support
    size: 62px 60px
  &--seo
    size: 92px 60px
  &--a-b
    size: 100px 60px
  &--money-rub
    size: 51px 75px
  &--bag
    size: 43px 40px
  &--checkbox-chek
    size: 15px 13px
  &--arrow-prev
    size: 52px 162px
  &--arrow-next
    size: 52px 162px
  &--clock
    size: 42px 40px
  &--save-check
    size: 19px 26px
  &--download
    size: 40px 33px
