.hidden
  display: none
.text-center
  text-align: center
.text-left
  text-align: left
.text-right
  text-align: right
.text-justify
  text-align: justify
.text-uppercase
  text-transform: uppercase

.fw-100
  font-weight: 100!important
.fw-300
  font-weight: 300!important
.fw-500
  font-weight: 500!important
.fw-700
  font-weight: 700!important
.fw-bold
  font-weight: bold!important
.fw-900
  font-weight: 900!important

.h1,h1,.h2,h2,.h3,h3
  margin: 1em *
  text: $colorBlack
.h2 , h2
  text: $colorDark 72px 1.25 800
  font-family: $fontAkrobat

p
  text: $colorDark 24px 30px 300

.category-title
  position: relative
  text: $colorDark 72px 1.25 800 center
  font-family: $fontAkrobat
  text-transform: uppercase
  padding: 15px 0 0
  z-index: 2
  span
    display: block
    z-index: -1
    position: absolute
    top: -13px
    left: 0
    width: 100%
    text: 100px
    opacity: 0.05
