.about
  .main-container 
    h2.about__h2 О нас
    .about-list
      .about-list__item
        .about-list__icon
          svg.icon.icon--man
            use(xlink:href="img/svg-sprite.svg#man")
        .about-list__num 251
        .about-list__name Довольных 
          span клиентов
      .about-list__item
        .about-list__icon
          svg.icon.icon--settings
            use(xlink:href="img/svg-sprite.svg#settings")
        .about-list__num 526
        .about-list__name Завершённых 
          span проектов
      .about-list__item
        .about-list__icon
          svg.icon.icon--people
            use(xlink:href="img/svg-sprite.svg#people")
        .about-list__num 120
        .about-list__name Сотрудников 
      .about-list__item
        .about-list__icon
          svg.icon.icon--calendar
            use(xlink:href="img/svg-sprite.svg#calendar")
        .about-list__num 12
        .about-list__name Лет на рынке
