header#header 
	.main-container
		.flex-wrap
			.col-auto
				a(href="#").header__logo 
				ul.header__nav
					+headerNavItem("Наши услуги","#","")
					+headerNavItem("Портфолио","#","")
					+headerNavItem("Схема работы","#","")
					+headerNavItem("Цены","#","")
					+headerNavItem("О нас","#","")
					+headerNavItem("Отзывы","#","")
					+headerNavItem("Тарифы","#","")
			.col-auto.ml-auto 
				.header__phone-cont
					a(href="tel:+7 (916) 321-82-58").header__phone +7 (916) 321-82-58
					a(href="").btn.btn__yellow.text-uppercase Заказать звонок
				