.portfolio
  .category-title Портфолио
    span Наши работы
  .portfolio__slider-arrows
    .main-container
      .portfolio__slider-arrow.portfolio__slider-arrow--prev
        svg.icon.icon--arrow-prev
          use(xlink:href="img/svg-sprite.svg#arrow-prev")
      .portfolio__slider-arrow.portfolio__slider-arrow--next
        svg.icon.icon--arrow-next
          use(xlink:href="img/svg-sprite.svg#arrow-next")
  .portfolio__slider
    .portfolio__slider-item
      .main-container
        .flex-wrap.portfolio__cont
          .col-1-2
            h3.portfolio__h3 Интернет-магазин эко продуктов
            .portfolio__info
              .portfolio__info-aside
                .portfolio__img-p
                  img(src="img/pic-2.png")
                .portfolio__status
                  .portfolio__status-icon
                    svg.icon.icon--bag
                      use(xlink:href="img/svg-sprite.svg#bag")
                  .portfolio__status-text!="Тариф <br> бизнес"
                .portfolio__benefits
                  .portfolio__benefits-item
                    svg.icon.icon--checkbox-chek
                      use(xlink:href="img/svg-sprite.svg#checkbox-chek")
                    |Аналитика
                  .portfolio__benefits-item
                    svg.icon.icon--checkbox-chek
                      use(xlink:href="img/svg-sprite.svg#checkbox-chek")
                    |Проектирование
                  .portfolio__benefits-item
                    svg.icon.icon--checkbox-chek
                      use(xlink:href="img/svg-sprite.svg#checkbox-chek")
                    |Дизайн
                  .portfolio__benefits-item
                    svg.icon.icon--checkbox-chek
                      use(xlink:href="img/svg-sprite.svg#checkbox-chek")
                    |Исследования
                  .portfolio__benefits-item
                    svg.icon.icon--checkbox-chek
                      use(xlink:href="img/svg-sprite.svg#checkbox-chek")
                    |CX
              .portfolio__info-cont
                h3 Выполненная работа
                h4 Техническая составляющая
                p Для нас это был нестандартный подход к созданию приложения. Зачастую мы делаем просто функциональные опции без ярковыраженной творческой задумки. На этом проекте мы применяли интересные механики, создавая особенное приложение.
                h4 Механика реализации
                p Механика реализации была непростая, поскольку предложенное нами решение, оказалось нестандартным. Это необычное приложение для доставки еды, к которому мы привыкли.
          .col-1-2
            .portfolio__slider-img
              .portfolio__slider-img--inner(style="background-image: url(img/pic-1.jpg)")
        .portfolio__total
          h3 Итог выполненной работы:
          .portfolio__total-list
            .portfolio__total-item 
              .portfolio__total-title Увеличили трафик в сутки:
              .portfolio__total-text с 200 до 400 человек
            .portfolio__total-item 
              .portfolio__total-title Вывели приоритетные ключи:
              .portfolio__total-text в топ 10
            .portfolio__total-item 
              .portfolio__total-title Увеличили ROI:
              .portfolio__total-text с 37% до 264%
    .portfolio__slider-item
      .main-container
        .flex-wrap.portfolio__cont 
          .col-1-2
            h3.portfolio__h3 Интернет-магазин эко продуктов
            .portfolio__info
              .portfolio__info-aside
                .portfolio__img-p
                  img(src="img/pic-2.png")
                .portfolio__status
                  .portfolio__status-icon
                    svg.icon.icon--bag
                      use(xlink:href="img/svg-sprite.svg#bag")
                  .portfolio__status-text!="Тариф <br> бизнес"
                .portfolio__benefits
                  .portfolio__benefits-item
                    svg.icon.icon--checkbox-chek
                      use(xlink:href="img/svg-sprite.svg#checkbox-chek")
                    |Аналитика
                  .portfolio__benefits-item
                    svg.icon.icon--checkbox-chek
                      use(xlink:href="img/svg-sprite.svg#checkbox-chek")
                    |Проектирование
                  .portfolio__benefits-item
                    svg.icon.icon--checkbox-chek
                      use(xlink:href="img/svg-sprite.svg#checkbox-chek")
                    |Дизайн
                  .portfolio__benefits-item
                    svg.icon.icon--checkbox-chek
                      use(xlink:href="img/svg-sprite.svg#checkbox-chek")
                    |Исследования
                  .portfolio__benefits-item
                    svg.icon.icon--checkbox-chek
                      use(xlink:href="img/svg-sprite.svg#checkbox-chek")
                    |CX
              .portfolio__info-cont
                h3 Выполненная работа
                h4 Техническая составляющая
                p Для нас это был нестандартный подход к созданию приложения. Зачастую мы делаем просто функциональные опции без ярковыраженной творческой задумки. На этом проекте мы применяли интересные механики, создавая особенное приложение.
                h4 Механика реализации
                p Механика реализации была непростая, поскольку предложенное нами решение, оказалось нестандартным. Это необычное приложение для доставки еды, к которому мы привыкли.
                  
          .col-1-2
            .portfolio__slider-img
              .portfolio__slider-img--inner(style="background-image: url(img/pic-1.jpg)")
        .portfolio__total
          h3 Итог выполненной работы:
          .portfolio__total-list
            .portfolio__total-item 
              .portfolio__total-title Увеличили трафик в сутки:
              .portfolio__total-text с 200 до 400 человек
            .portfolio__total-item 
              .portfolio__total-title Вывели приоритетные ключи:
              .portfolio__total-text в топ 10
            .portfolio__total-item 
              .portfolio__total-title Увеличили ROI:
              .portfolio__total-text с 37% до 264%
