.rate
  .main-container
    .category-title Выберите подходящий тариф
      span Тарифы
    p.rate__info-text!="Успешная рекламная кампания невозможна без детально проработанной стратегии. Мы подробно изучаем цели и задачи брендов, исследуем поведение разных аудиторий в интернете и на основе полученной информации разрабатываем эффективные решения. Стратеги WebDewep помогут вам составить план digital-кампании и подобрать релевантные инструменты для ее реализации."
    .tabs
      .tabs__list
        .tabs__list-item 
          a(href="#tab-site-card").tabs__list-link Сайт визитка
        .tabs__list-item 
          a(href="#tab-online-store").tabs__list-link Интернет-магазин
        .tabs__list-item 
          a(href="#tab-landing-page").tabs__list-link.tabs__list-link--active Landing Page
        .tabs__list-item 
          a(href="#tab-corporate-website").tabs__list-link Корпоративный сайт
        .tabs__list-item 
          a(href="#tab-social-network").tabs__list-link Соцсеть
      #tab-site-card.tab 1
      #tab-online-store.tab 2
      #tab-landing-page.tab.tab--active 
        .rate-list 
          .rate-list__item
            .rate-list__inner
              .rate-list__title Эконом
              .rate-list__percent %
              .rate-list__price
                .rate-list__price-item.rate-list__price-item--old 40 500
                  span ₽
                .rate-list__price-item 35 500
                  span ₽
              .rate-list__time
                svg.icon.icon--clock
                  use(xlink:href="img/svg-sprite.svg#clock")
                |до 7 дней
              .rate-list__cont 
                a(href="").btn.btn__large.btn__dark.rate-list__btn 
                  svg.icon.icon--send
                    use(xlink:href="img/svg-sprite.svg#send")
                  |Заказать
                .rate-list__benefits 
                  .rate-list__benefits-item 
                    svg.icon.icon--save-check
                      use(xlink:href="img/svg-sprite.svg#save-check")
                    |Красивый дизайн сайта
                  .rate-list__benefits-item 
                    svg.icon.icon--save-check
                      use(xlink:href="img/svg-sprite.svg#save-check")
                    |Под любые устройства
                  .rate-list__benefits-item 
                    svg.icon.icon--save-check
                      use(xlink:href="img/svg-sprite.svg#save-check")
                    |Высокий показатель конверсии
                  .rate-list__benefits-item 
                    svg.icon.icon--save-check
                      use(xlink:href="img/svg-sprite.svg#save-check")
                    |Год гарантии
                  .rate-list__benefits-item 
                    svg.icon.icon--save-check
                      use(xlink:href="img/svg-sprite.svg#save-check")
                    |Домен в подарок
                  .rate-list__benefits-item 
                    svg.icon.icon--save-check
                      use(xlink:href="img/svg-sprite.svg#save-check")
                    |Интеграция с системой аналитики
          .rate-list__item.rate-list__item--active
            .rate-list__inner
              .rate-list__title VIP
              .rate-list__price
                .rate-list__price-item.rate-list__price-item--vip 60 500
                  span ₽
              .rate-list__time
                svg.icon.icon--clock
                  use(xlink:href="img/svg-sprite.svg#clock")
                |до 15 дней
              .rate-list__cont 
                a(href="").btn.btn__large.btn__dark.rate-list__btn 
                  svg.icon.icon--send
                    use(xlink:href="img/svg-sprite.svg#send")
                  |Заказать
                .rate-list__benefits 
                  .rate-list__benefits-item 
                    svg.icon.icon--save-check
                      use(xlink:href="img/svg-sprite.svg#save-check")
                    |Красивый дизайн сайта
                  .rate-list__benefits-item 
                    svg.icon.icon--save-check
                      use(xlink:href="img/svg-sprite.svg#save-check")
                    |Под любые устройства
                  .rate-list__benefits-item 
                    svg.icon.icon--save-check
                      use(xlink:href="img/svg-sprite.svg#save-check")
                    |Высокий показатель конверсии
                  .rate-list__benefits-item 
                    svg.icon.icon--save-check
                      use(xlink:href="img/svg-sprite.svg#save-check")
                    |Система управление сайтом
                  .rate-list__benefits-item 
                    svg.icon.icon--save-check
                      use(xlink:href="img/svg-sprite.svg#save-check")
                    |Обучение персонала
                  .rate-list__benefits-item 
                    svg.icon.icon--save-check
                      use(xlink:href="img/svg-sprite.svg#save-check")
                    |Год гарантии
                  .rate-list__benefits-item 
                    svg.icon.icon--save-check
                      use(xlink:href="img/svg-sprite.svg#save-check")
                    |Домен в подарок
                  .rate-list__benefits-item 
                    svg.icon.icon--save-check
                      use(xlink:href="img/svg-sprite.svg#save-check")
                    |Интеграция с системой аналитики
          .rate-list__item
            .rate-list__inner
              .rate-list__title Бизнес
              .rate-list__price
                .rate-list__price-item.rate-list__price-item--large 90 500
                  span ₽
              .rate-list__time
                svg.icon.icon--clock
                  use(xlink:href="img/svg-sprite.svg#clock")
                |до 30 дней
              .rate-list__cont 
                a(href="").btn.btn__large.btn__dark.rate-list__btn 
                  svg.icon.icon--send
                    use(xlink:href="img/svg-sprite.svg#send")
                  |Заказать
                .rate-list__benefits 
                  .rate-list__benefits-item 
                    svg.icon.icon--save-check
                      use(xlink:href="img/svg-sprite.svg#save-check")
                    |Красивый дизайн сайта
                  .rate-list__benefits-item 
                    svg.icon.icon--save-check
                      use(xlink:href="img/svg-sprite.svg#save-check")
                    |Под любые устройства
                  .rate-list__benefits-item 
                    svg.icon.icon--save-check
                      use(xlink:href="img/svg-sprite.svg#save-check")
                    |Высокий показатель конверсии
                  .rate-list__benefits-item 
                    svg.icon.icon--save-check
                      use(xlink:href="img/svg-sprite.svg#save-check")
                    |Система управление сайтом
                  .rate-list__benefits-item 
                    svg.icon.icon--save-check
                      use(xlink:href="img/svg-sprite.svg#save-check")
                    |Год гарантии
                  .rate-list__benefits-item 
                    svg.icon.icon--save-check
                      use(xlink:href="img/svg-sprite.svg#save-check")
                    |Домен в подарок
                  .rate-list__benefits-item 
                    svg.icon.icon--save-check
                      use(xlink:href="img/svg-sprite.svg#save-check")
                    |Интеграция с системой аналитики
        .rate-links
          .rate-links__item
            a(href="").rate-links__link
              svg.icon.icon--download
                use(xlink:href="img/svg-sprite.svg#download")
              span Коммерческое предложение (скачать)
          .rate-links__item
            a(href="").rate-links__link
              svg.icon.icon--download
                use(xlink:href="img/svg-sprite.svg#download")
              span Бриф (скачать)
        .rate-feedback
          .rate-feedback__title Не нашли подходящее предложение?
            a(href="").btn.btn__large.btn__blue 
              svg.icon.icon--send
                use(xlink:href="img/svg-sprite.svg#send")
              | Оставить заявку
      #tab-corporate-website.tab 4
      #tab-social-network.tab 5
