.work-road 
  .main-container 
    h3.work-road__h3 Комплексный подход к делу делает нас лидерами в отрасли
    p.work-road__info-text Мы считаем, что компания ТОП уровня обязана выполнять весь комплекс услуг, чтобы  
      span  сделать клиентов довольными и счастливыми, поэтому мы предлагаем:
    .work-road__list
      .work-road__item
        .work-road__icon
          svg.icon.icon--goal
            use(xlink:href="img/svg-sprite.svg#goal")
        .work-road__title Постановка целей 
          span и задач
      .work-road__item
        .work-road__icon
          svg.icon.icon--marketing-research
            use(xlink:href="img/svg-sprite.svg#marketing-research")
        .work-road__title Маркетинговое 
          span исследование 
      .work-road__item
        .work-road__icon
          svg.icon.icon--tk-development
            use(xlink:href="img/svg-sprite.svg#tk-development")
        .work-road__title Разработка ТЗ и 
          span прототипирование
      .work-road__item
        .work-road__icon
          svg.icon.icon--design-layouts
            use(xlink:href="img/svg-sprite.svg#design-layouts")
        .work-road__title Дизайн 
          span макетов
      .work-road__item
        .work-road__icon
          svg.icon.icon--testing
            use(xlink:href="img/svg-sprite.svg#testing")
        .work-road__title Тестирование 
          span функционала
      .work-road__item
        .work-road__icon
          svg.icon.icon--filling-content
            use(xlink:href="img/svg-sprite.svg#filling-content")
        .work-road__title Наполнение 
          span контентом
      .work-road__item
        .work-road__icon
          svg.icon.icon--use-php
            use(xlink:href="img/svg-sprite.svg#use-php")
        .work-road__title Программирование
      .work-road__item
        .work-road__icon
          svg.icon.icon--html-css
            use(xlink:href="img/svg-sprite.svg#html-css")
        .work-road__title Вёрстка 
          span макетов
      .work-road__item
        .work-road__icon
          svg.icon.icon--job-training
            use(xlink:href="img/svg-sprite.svg#job-training")
        .work-road__title Обучение работе 
          span с ресурсом
      .work-road__item
        .work-road__icon
          svg.icon.icon--support
            use(xlink:href="img/svg-sprite.svg#support")
        .work-road__title Техническая 
          span поддержка проекта
      .work-road__item
        .work-road__icon
          svg.icon.icon--seo
            use(xlink:href="img/svg-sprite.svg#seo")
        .work-road__title Рекламное и Seo 
          span продвижение
      .work-road__item
        .work-road__icon
          svg.icon.icon--a-b
            use(xlink:href="img/svg-sprite.svg#a-b")
        .work-road__title А/Б
          span тестирование
      .work-road__rub
        svg.icon.icon--money-rub
          use(xlink:href="img/svg-sprite.svg#money-rub")
