extends layouts/layout.pug

block title
  title Main page

block content
  .welcome
    include blocks/header
    .welcome__title-cont
      .welcome__title-w Сделаем
      .welcome__title продающий сайт
      .welcome__text и привлечём новых клиентов 
        span за 2 недели
    .welcome__benefits
      h3.welcome__h3 Заказывая у нас Вы получите:
      .flex-wrap
        .welcome__benefits-item
          .welcome__benefits-icon
            svg.icon.icon--key
              use(xlink:href="img/svg-sprite.svg#key")
          .welcome__benefits-name Все услуги  
            span под ключ
        .welcome__benefits-item
          .welcome__benefits-icon
            svg.icon.icon--gift
              use(xlink:href="img/svg-sprite.svg#gift")
          .welcome__benefits-name Домен и хостинг 
            span на год в подарок 
        .welcome__benefits-item
          .welcome__benefits-icon
            svg.icon.icon--deal
              use(xlink:href="img/svg-sprite.svg#deal")
          .welcome__benefits-name Индивидуальный 
            span подход
        .welcome__benefits-item
          .welcome__benefits-icon
            svg.icon.icon--legal-guarantee
              use(xlink:href="img/svg-sprite.svg#legal-guarantee")
          .welcome__benefits-name Юридическая  
            span гарантия
    .welcome__send
      h3.welcome__h3 Хотите продающий сайт и эффективную рекламу?
      a(href="").btn.btn__yellow-2.btn__large 
        svg.icon.icon--send
          use(xlink:href="img/svg-sprite.svg#send")
        |Оставить заявку
  include blocks/about
  include blocks/work-road
  include blocks/portfolio
  include blocks/rate
  include blocks/faq
