include ../inc/var.pug
include ../inc/mixins.pug

doctype html
html(lang="ru" dir="ltr")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    block title
      title Title
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=cyrillic-ext" rel="stylesheet")
    link(href="styles/main.css" rel="stylesheet")

  body
    #overlay
    main#main
      block content
    
    script(type="text/javascript" src="scripts/jquery.min.js")
    script(type="text/javascript" src="scripts/libs.min.js")
    script(type="text/javascript" src="scripts/main.js")
